*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}
/* use this class for block that has child floated elements */
.ba-clearfix:before,
.ba-clearfix:after {
	content: '';
	display: table;
}
.ba-clearfix:after {
	clear: both;
}
/* for IE 6/7 */
.ba-clearfix {
	*zoom: 1;
}

/* classes for text */
.ba-text-center {
	text-align: center;
}
.ba-text-left {
	text-align: left;
}
.ba-text-right {
	text-align: right;
}
.ba-text-justify {
	text-align: justify;
}

/* layout classes */
.ba-container {
	max-width: 1170px;
	margin: 0 auto;
}
.ba-float-left {
	float: left;
}
.ba-float-right {
	float: right;
}


/* ba-grid  definition*/

[class*="ba-column-"] {
	float: left;
}
.ba-column-12 {
	width: 100%;
}
.ba-column-11 {
	width: 91.667%;
}
.ba-column-10 {
	width: 83.334%;
}
.ba-column-9 {
	width: 75%;
}
.ba-column-8 {
	width: 66.667%;
}
.ba-column-7 {
	width: 58.33333333%;
}
.ba-column-6 {
	width: 50%;
}
.ba-column-5 {
	width: 41.66666667%;
}
.ba-column-4 {
	width: 33.334%;
}
.ba-column-3 {
	width: 25%;
}
.ba-column-2 {
	width: 16.667%;
}
.ba-column-1 {
	width: 8.334%;
}

.ba-grid:before,
.ba-grid:after {
	content: '';
	display: table;
}
.ba-grid:after {
	clear: both;
}
/* for IE 6/7 */
.ba-grid {
	*zoom: 1;
}

.ba-grid > [class*="ba-column-"] {
	padding: 0 15px;
}
.ba-grid {
	margin: 0 -15px;
}
.ba-grid + .ba-grid {
	margin-top: 30px;
}
