$text-color: #fff;
$extra-color: #222222;
$text-font: Raleway, sans-serif;
$font-family: Lato, sans-serif;
$form-color: #676767;

body {
	font-family: $font-family;
}
a {
	text-decoration: none;
	cursor: pointer;
}

// styles for header
.ba-header {
	padding: 50px 0 47px;
	background: url(../images/bg.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: $font-family;
	color: $text-color;
	path {
		fill: $text-color;
		opacity: 0.5;
	}
	.ba-scroll-down:hover path {
		fill: darken($text-color, 50%);
	}
	&__title {
		text-transform: uppercase;
		font-size: 48px;
		line-height: 1.25;
		position: relative;
		margin: 255px auto 39px;
		clear: both;
		&:after {
			position: absolute;
			content: "";
			background-color: $text-color;
			width: 86px;
			height: 2px;
			left: 50%;
			bottom: -47px;
			transform: translate(-50%, -50%);
		}
	}
	&__description {
		font-size: 22px;
		letter-spacing: 0.05em;
		margin: 88px 0 260px;
	}
}

.ba-nav {
	&__list {
		margin: 5px 0 0 0;
		padding: 0 60px 0 0;
	}
	font-size: 0;
	&__item {
		list-style-type: none;
		display: inline-block;
	}
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.025em;
	&__link {
		color: $text-color;
	}
	&__link:hover {
		cursor: pointer;
		color: lighten($text-color, 50%);
		color: grey;
	}
	&__item + .ba-nav__item {
		margin-left: 50px;
	}
}

// end styles for header

// styles for section services
.ba-service {
	color: $extra-color;
	padding: 105px 0 105px;
	&__title {
		position: relative;
		margin: 0;
		text-transform: uppercase;
		font-family: $text-font;
		font-size: 35px;
		font-weight: 400;
		margin-bottom: 100px;
		&:after {
			position: absolute;
			content: "";
			background-color: $extra-color;
			width: 86px;
			height: 2px;
			left: 50%;
			bottom: -68px;
			transform: translate(-50%, -50%);
		}
	}
	&__subtitle {
		font-size: 24px;
		letter-spacing: 0.001em;
		text-transform: capitalize;
		font-weight:  400;
	}
	&__description {
		font-size: 16px;
		line-height: 1.87;
		margin: 0 auto;
	}
	.ba-grid {
		margin-top: 150px;
	}
}

// end of styles for section services

// styles for ba-add section
.ba-add {
	padding: 165px 0 110px;
	color: $text-color;
	&__title {
		margin: 0 0 13px;
		font-size: 45.08px;
		text-transform: uppercase;
		letter-spacing: 0.04em;
	}
	&__description {
		margin: 0 0 55px;
		// padding-bottom: 72px
		width: 44%;
		font-size: 22px;
		line-height: 1.27;
		font-weight: 100;
	}
	&__link {
		text-decoration: underline;
		font-size: 18px;
		color: $text-color;
		&:hover {
			color: darken($text-color, 50%);
		}
	}
	background: url(../images/bg1.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


// end of styles for ba-add section

// styles for ba-work section
.ba-work {
	padding: 80px 0 85px;
	&__title {
		margin-bottom: 98px;
		position: relative;
		font-family: $text-font;
		font-size: 35px;
		text-transform: uppercase;
		&:after {
			position: absolute;
			content: "";
			background-color: $extra-color;
			width: 86px;
			height: 2px;
			left: 50%;
			bottom: -72px;
			transform: translate(-50%, -50%);
		}
	}
	&__link {
		color: $extra-color;
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 0.04em;
		border: 3px solid $extra-color;
		padding: 15px 145px;
		margin-bottom: 15px;
		&:hover {
			color: lighten($extra-color, 40%);
			border-color: lighten($extra-color, 40%);
		}
	}
	.ba-grid {
		margin-top: 160px;
		margin-bottom: 100px;
		img {
			width: 100%;
		}
	}
	&__wrap {
		position: relative;
	}
	&__text {
		position: absolute;
		font-size: 22px;
		width: 100%;
		height: 100%;
		color: $text-color;
		text-transform: uppercase;


		p {
			margin: 170px 0 25px;
			padding: 0;
		}
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
	}
}

// end of styles for ba-work section

// styles for section ba-get
.ba-get {
	padding: 118px 0 130px;
	&__title {
		padding: 0;
		margin: 0;
		font-family: $text-font;
		font-size: 34px;
		text-transform: uppercase;
		position: relative;
		&:after {
			position: absolute;
			content: "";
			background-color: $text-color;
			width: 86px;
			height: 2px;
			left: 50%;
			bottom: -73px;
			transform: translate(-50%, -50%);
		}
	}
	color: $text-color;
	background: url(../images/bg3.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.ba-socials {
	margin-top: 138px;
	font-size: 0;
	padding-left: 0;
	&__item {
		list-style-type: none;
		display: inline-block;
		font-size: 25px;
		& + .ba-socials__item {
			margin-left: 30px;
		}
		&:hover i {
			color: grey;
		}
		i {
			color: $text-color;
		}

	}
}
.ba-form {
	margin-top: 80px;

	&__field {
		padding-left: 27px;
		background: none;
		width: 305px;
		height: 35px;
		border: none;
		border-bottom: 2px solid $form-color;
		& +  .ba-form__field {
			margin-left: 61px;
		}
		&--bigger {
			width: 670px;
			margin-bottom: 25px;
		}
	}

	&__link {
		padding: 15px 55px;
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 0.04em;
		border: 2px solid $text-color;
		&:hover {
			color: darken($text-color, 50%);
			border-color: darken($text-color, 50%);
		}
		&:focus {
			outline: blue;
		}
	}
	textarea {
		padding-top: 95px;
		height: 130px;
		resize: none;
		margin-bottom: 60px;
	}
}
// end of styles for section ba-get

::-webkit-input-placeholder {text-transform: capitalize; font-family: $font-family; font-size: 18px; color: $form-color; font-weight: 400; font-style: italic;}
::-moz-placeholder          {text-transform: capitalize; font-family: $font-family; font-size: 18px; color: $form-color; font-weight: 400; font-style: italic;}
:-moz-placeholder           {text-transform: capitalize; font-family: $font-family; font-size: 18px; color: $form-color; font-weight: 400; font-style: italic;}
:-ms-input-placeholder      {text-transform: capitalize; font-family: $font-family; font-size: 18px; color: $form-color; font-weight: 400; font-style: italic;}

